.products-container{
    background-color: rgb(225, 231, 229);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    padding: 0px;
}
.categories-heading{
    color:#000000;
    font-size: 28px;
    font-weight: 700;
}
.list-item{
    background-color: white;
    width: 30%;
    border-radius: 12px;
    margin: 8px;
    min-height: 30vh;
}
.products-container-ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.product-image{
    width: 100%;
}
.product-name{
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    padding:5px 0px 5px 20px;
    font-family: "Roboto";
}
.products-count{
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    padding:5px 0px 5px 20px;
    font-family: "Roboto";
}